<a href="https://colab.research.google.com/github/Sophia124990/Tareas_CienciaDatos/blob/main/Tarea_06_SophiaLopez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#autor: Karla Sophia López González
#idautor: 225594-2
#profesor: Lázaro Bustio Martínez

Inciso a)

In [ ]:
#Cargamos los datos desde el archivo CSV y los almacenamos en un DataFrame llamado ventas
import pandas as pd
datos_df = pd.read_csv("/content/datos_ventas.csv",header=0, sep=",",decimal=".")
ventas = datos_df

Inciso b)

In [ ]:
#Mostramos las primeras 5 filas del DataFrame para revisar la estructura y los tipos de datos de las columnas
ventas.head()

     Producto    Categoria       Fecha  Cantidad  Precio
0  Producto B  Categoria 1  2023-02-05        16   37.00
1  Producto A  Categoria 2  2022-08-24         5   30.24
2  Producto A  Categoria 2  2023-05-07         3   23.29
3  Producto C  Categoria 1  2023-01-07        13   28.30
4  Producto A  Categoria 1  2023-05-31        10   34.89

Inciso c)

In [ ]:
#Calculamos el total de ventas realizadas en cada categoría de productos y mostramos los resultados
ventas.groupby('Categoria')['Cantidad'].sum()

Categoria
Categoria 1    462
Categoria 2    495
Name: Cantidad, dtype: int64

Inciso d)

In [ ]:
#Calculamos la cantidad promedio de productos vendidos por transacción y mostramos el resultado
promedio_transaccion = ventas['Cantidad'].mean()

print("La cantidad promedio de productos vendidos por transacción es:", promedio_transaccion)

La cantidad promedio de productos vendidos por transacción es: 9.57

Inciso e)

In [ ]:
#Encontramos el producto más vendido,mostramos su nombre y la cantidad total vendida
producto_mas_vendido = ventas.groupby('Producto')['Cantidad'].sum().idxmax()
cantidad_total_vendida = ventas.groupby('Producto')['Cantidad'].sum().max()

print("El producto más vendido es:", producto_mas_vendido)
print("La cantidad total vendida es:", cantidad_total_vendida)

El producto más vendido es: Producto B
La cantidad total vendida es: 371

Inciso f)

In [ ]:
#Calcular el promedio de precios de venta para cada producto y mostrar los resultados
ventas.groupby('Producto')['Precio'].mean()

Producto
Producto A    27.840000
Producto B    29.250857
Producto C    29.892963
Name: Precio, dtype: float64